*{
    /* margin: 0;
    padding: 0; */
}

body{
    background-color: yellow;;
    height: 2000px;
}


.wrap{
    width: 200px;
    height: 100px;
    border: 1px solid blue;
    margin-top: 20px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 2px;
    color:blue;
}

.wrap h1{
    color:red;
}

#IdenTitficadorDiv{
    width: 500px;
    height: 200px;
    padding: 12px 5px 2px 20px;
    border:2px green solid;
    margin-top: 50px;
    font-size: 50px;
    color:grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image: url('../img/bk.jpeg');
    background-position: center center;
    background-size: cover;
}

#div-fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: indigo;
    width: 200px;;
    height: 100px;
    color:lawngreen;
}